
@font-face {
    font-family: Pipboy;
    src: url("../monofonto.ttf");
}


body {
    font-family: Pipboy, sans-serif;
    color: #14fe17 !important;
    background: #272b23;
}

body::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    /*background: repeating-linear-gradient(0deg, rgba(0,0,0,0.5) 5px, rgba(0,0,0,0.4), transparent 1px, transparent 2px);*/
    background: repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.4), transparent 1px, transparent 2px);
    /* background: radial-gradient(#000 0.5px,transparent 0.5px) 0   0   /3px 3px,
    radial-gradient(#000 0.5px,transparent 0.5px) 1px 1px /3px 3px,
    radial-gradient(#000 0.5px,transparent 0.5px) 2px 2px /3px 3px; */
    opacity: 0.4;
    z-index: 1000;
    pointer-events: none; /* allows the user to click through the scanlines screen */
}

.navbar.navbar-light {
    border-bottom: 2px solid;
    margin: 0px 10px;
}

.navbar.navbar-light::before, .navbar.navbar-light::after {
    height: 7px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;

    z-index: 5000;
    background: #fff;
    bottom: -8px;
    background: #14fe17 !important;

}

.navbar::before {
    left: 0px;
}

.navbar::after {
    right: 0px;
}

/* both main and inner nav bar tabs/links */
ul > li.nav-item > a.nav-link {
    color: #14fe17 !important;
}

/* inner nav bar tabs/links */
ul > li.nav-item > a.nav-link.inner {
    opacity: 0.5;
    font-size: 32px;
}

/* navigation styling: rectangle box around active nav-item in the main nav bar */
li.nav-item.active::before {
    content: "";
    display: flex;
    position: absolute;
    background: #272b23;
    width: 100%;
    height: 20px;
    top: 20px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
}


.navbar-light ul.navbar-nav > li {
    display: block;
    position: relative;
    width: 100%;
}

/* main nav bar tabs/links */
.navbar-light .navbar-nav > li.nav-item > .nav-link {
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 32px;
    line-height: 22px;
    padding-bottom: 0px;
    z-index: 50;
    position: relative;
    background: #272b23;
}

.navbar-nav {
    width: 100%;
}

.nav.nav-tabs {
    margin: 20px;
    border-bottom: none;
}

/* border of the inner tabs when hovering over them */
.nav-tabs .nav-link:hover {
    /* border: 1px solid #14fe17;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem; */
    border: none;
}

/* main nav bar container */
.navbar-nav.nav-fill {
    margin-left: 20%;
    margin-right: 20%;
}

/* inner nav bar container */
.nav.nav-tabs {
    margin-left: 20%;
}

/* for inner tabs when clicking them */
.nav-tabs .nav-link.inner.active {
    /* background-color: #5e8833; */
    /* background-color:black; */
    /* background-color: #11c51473; */
    background: transparent;
    border: none;
    opacity: 1;
}

/* pipboy image in STAT -> STATUS bar */
.center-image {
    position: absolute;
    /* margin: auto;
    width: 100%; */
    margin-left: 100px;
}

.center-image img {
    margin: auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(1);
}

/* border of progress bar */
.level-progress {
    width: 100%;
    height: 10px;
    border: 2px solid;
    display: inline-block;
    width: 100%;
}

/* actual indicator of progress within the level */
.level-progress-indicator {
    position: relative;
    height: 6px;
    background: #14fe17;
    width: 70%;
}

/* the point at which the footer level progress bar changes from horizontal display to vertical display 
NOTE: The min-width is the same as Bootstrap and will change at the same time as the HP and AP attributes */
.pip-footer .level-progress {
    min-width: 80px;
}


.pip-footer {
    position: fixed;
    display: block;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 10px;
}


.navbar.navbar-light.pip-footer {
    border: none;
    font-size: 22px;
}


.navbar.pip-footer .col-3, .navbar.pip-footer .col-6 {
    background: rgba(20, 254, 23, 0.1);
    padding: 5px 10px;
}

.navbar.pip-footer .col-6 {
    margin: 0px 0.5vw;
    flex: 0 0 48%;
}

.stat-bar {
    width: 60px;
    margin: auto;
}

#status {
    max-width: 400px;
    margin: auto;
}

.stat-bars > .row {
    margin-bottom: 130px;
}

.stat-numbers .col-1, .stat-numbers .col-2 {
    background: rgba(20, 254, 23, 0.1);
    margin-left: 2px;
    margin-right: 2px;
}

.stat-numbers .col-1.transparent,
.stat-numbers .col-2.transparent {
    background: transparent;
}

.img-responsive {
    width: 100%;
    margin-top: 10px;
    filter: grayscale(1) brightness(200) contrast(0) sepia(100%) hue-rotate(55deg) saturate(20);
}

.img-responsive.sm-img {
    margin-top: 0px;
}

figure.icon {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    width: 20px;
    transform: translateX(-7px);
    margin-bottom: 2px;
}

#status.tab-pane.full {
    width: 100%;
    max-width: 100%;
}

.item-list {
    /* padding-left: 10%; */
    float: left;
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.item-list li a {
    display: block;
    width: 300px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #14fe17;
    padding-left: 25px;
    text-decoration: none !important;
}

.item-list li a:hover {
    text-decoration: none;
    background: #14fe17;
    color: #272b23;
}

.item-list a.active::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background: #14fe17;
    left: 25px;
    margin-top: 7px;
}

.item-list a.active:hover::before {
    background: #272b23;
}

.tab-pane.full {
    height: calc(100vh - 180px);
}

.item-stats {
    position: absolute;
    right: 0px;
    bottom: 50px;
    width: 200px;
}


.item-stats .row .col-12 {
    background: rgba(20, 254, 23, 0.1);
    margin-bottom: 2px;
}




/* START: utility classes for width percentage (mainly for the progress indicators) */
.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}
/* END: utility classes for width percentage (mainly for the progress indicators) */

/* =========================== media query CSS =========================== */
@media(max-width: 991px) {

    /* inner nav bar tabs centering when screen size is small;
    width 991px is the same dimensions as the bootstrap button
    for the dropdown menu to replace the nav bar */
        .nav-tabs {
        justify-content: center;
    }

    /* navigation styling: rectangle box around active nav-item in the main nav bar */
    li.nav-item.active::before {
        content: "";
        position: absolute;
        background: transparent;
        width: 34%;
        height: 20px;
        top: 10px;
        border-left: 2px solid;
        border-right: 2px solid;
        border-top: none;
        z-index: 51; /* NOTE: index 51 because the css class
        ".navbar-light .navbar-nav > li.nav-item > .nav-link" has an index of 50 */

        margin-left: 33%;
        margin-right: 33%;
    }

    /* main nav bar container */
    .navbar-nav.nav-fill {
        margin-left: 0;
        margin-right: 0;
    }
    
    /* inner nav bar container */
    .nav.nav-tabs {
        margin-left: 0;
    }

    /* pipboy image margin change for very small screen widths */
    @media(max-width: 330px) {
            .center-image {
            margin-left: 70px;
        }
    }


    

    
} /* end of media query */