
@font-face {
    font-family: Pipboy;
    src: url("../monofonto.ttf");
}

body {
    font-family: Pipboy, sans-serif;
    color: #14fe17 !important;
    background: #272b23;
}

body::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    /*background: repeating-linear-gradient(0deg, rgba(0,0,0,0.5) 5px, rgba(0,0,0,0.4), transparent 1px, transparent 2px);*/
    background: repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.4), transparent 1px, transparent 2px);
    /* background: radial-gradient(#000 0.5px,transparent 0.5px) 0   0   /3px 3px,
    radial-gradient(#000 0.5px,transparent 0.5px) 1px 1px /3px 3px,
    radial-gradient(#000 0.5px,transparent 0.5px) 2px 2px /3px 3px; */
    opacity: 0.4;
    z-index: 1000;
    pointer-events: none; /* allows the user to click through the scanlines screen */
}

.navbar {
    border-bottom: 2px solid;
    margin: 0px 10px;
}

.navbar::before, .navbar::after {
    height: 7px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;

    z-index: 5000;
    background: #fff;
    bottom: -8px;
    background: #14fe17 !important;

}

.navbar::before {
    left: 0px;
}

.navbar::after {
    right: 0px;
}

/* both main and inner nav bar tabs/links */
ul > li.nav-item > a.nav-link {
    color: #14fe17 !important;
}

/* inner nav bar tabs/links */
ul > li.nav-item > a.nav-link.inner {
    opacity: 0.5;
}

/* navigation styling: rectangle box around active nav-item in the main nav bar */
li.nav-item.active::before {
    content: "";
    display: flex;
    position: absolute;
    background: #272b23;
    width: 100%;
    height: 20px;
    top: 20px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
}


.navbar-light ul.navbar-nav > li {
    display: block;
    position: relative;
    width: 100%;
}

/* main nav bar tabs/links */
.navbar-light .navbar-nav > li.nav-item > .nav-link {
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 32px;
    line-height: 22px;
    padding-bottom: 0px;
    z-index: 50;
    position: relative;
    background: #272b23;
}

.navbar-nav {
    width: 100%;
}

.nav.nav-tabs {
    margin: 20px;
    border-bottom: none;
}

/* border of the inner tabs when hovering over them */
.nav-tabs .nav-link:hover {
    /* border: 1px solid #14fe17;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem; */
    border: none;
}

/* main nav bar container */
.navbar-nav.nav-fill {
    margin-left: 20%;
    margin-right: 20%;
}

/* inner nav bar container */
.nav.nav-tabs {
    margin-left: 20%;
}

/* for inner tabs when clicking them */
.nav-tabs .nav-link.inner.active {
    /* background-color: #5e8833; */
    /* background-color:black; */
    /* background-color: #11c51473; */
    background: transparent;
    border: none;
    opacity: 1;
}


.center-image img {
    margin: auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(1);
}


.pip-footer {
    position: fixed;
    display: block;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 10px;

}


/* media query CSS */
@media(max-width: 991px) {
    /* inner nav bar tabs centering when screen size is small;
    width 991px is the same dimensions as the bootstrap button
    for the dropdown menu to replace the nav bar */
        .nav-tabs {
        justify-content: center;
    }

    /* navigation styling: rectangle box around active nav-item in the main nav bar */
    li.nav-item.active::before {
        content: "";
        position: absolute;
        background: transparent;
        width: 34%;
        height: 20px;
        top: 10px;
        border-left: 2px solid;
        border-right: 2px solid;
        border-top: none;
        z-index: 51; /* NOTE: index 51 because the css class
        ".navbar-light .navbar-nav > li.nav-item > .nav-link" has an index of 50 */

        margin-left: 33%;
        margin-right: 33%;
    }

    .navbar-nav.nav-fill {
        margin-left: 0;
        margin-right: 0;
    }
    


} /* end of media query */